body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #011627;
  color: white;
}

main {
  display: grid;
}

#previous {
  position: absolute;
  right: 80px;
  bottom: 10px;
  transform: translate(-50%);
}

#next {
  position: absolute;
  right: 0px;
  bottom: 10px;
  transform: translate(-50%);
}


h1 {
  font-size: 4rem;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 4rem;
  color: limegreen;
}

ul {
  text-align: center;
  list-style: none;
}

li:nth-child(n):before {
  font-size: 4rem;
  content: "🚅";
  padding-right: 10px;
}

p {
  text-align: center;
}
